<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Oakwave</title>

	<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
	<link rel="stylesheet" href="/assets/vendor/jquery.pagepiling.css" type="text/css" media="all" />
	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/vendor/jquery-ui.min.css" type="text/css" media="all" />

	<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
</head>
<body>
	<div class="wrapper">
{% block content %}
                        {% endblock content %}
	</div>
<script src="/assets/vendor/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/assets/vendor/jquery.pagepiling.js"></script>
<script type="text/javascript" src="/assets/vendor/jquery-ui.min.js"></script>
<script src="/assets/js/bundle.js"></script>
</body>
</html>
