<!--	<script src="/assets/vendor/jquery-3.1.1.min.js"></script>
    		<script type="text/javascript" src="/assets/vendor/jquery-ui.min.js"></script>
-->
    <!-- Plugins JS -->
    {% if home %}
<script src="/assets/vendor/jquery-3.1.1.min.js"></script>
{% else %}
<script src="/assets/js/jquery-3.3.1.min.js"></script>
{% endif %}

         {% block footerscripts %}
  
    {% endblock footerscripts %}

<script type="text/javascript" src="/assets/vendor/jquery-ui.min.js"></script>
<script src="/assets/js/bundle.js"></script>


    <script src="/assets/js/plugins.js"></script>
        <script src="/assets/js/scripts.js"></script>
 