<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Testimonials</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="media/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/base.css">
    <script src="/_includes/components/base/core.min.js"></script>
    <script src="/_includes/components/base/script.js"></script>
  </head>