                                                {% include "structure/head-default.njk" %}
{% block stylesandscripts %}
{% endblock stylesandscripts %}
    </head>
           
             

<body>
	<div class="wrapper">
		<!-- Your header goes here -->


		<div class="main">


				<div class="main__inner">
                                                {% include "structure/bar.njk" %}

		<div class="main__content">
			<div class="shell">



{% block content %}
                        {% endblock content %}



					</div><!-- /.main__content -->
				</div><!-- /.main__inner -->
			</div><!-- /.shell -->
		</div><!-- /.main -->
{% if nofooter %}
{% else %}
   {% include "partials/footer.njk" %}
{% endif %}

		<!-- Your footer goes here -->

	</div><!-- /.wrapper -->

</div>
{% include "structure/footerscripts.njk" %}
  {% block footerscripts %}
    {% endblock footerscripts %}
 
</body>
</html>
