---
pagination:
  data: collections.posts
  size: 100
  alias: posts
layout: base.njk

---

{% from "partials/card.njk" import card %}

{% set title = "Posts" %}
{% block content %}


    {% include "partials/latestnews.njk" %}

  
{% endblock content %}



