---
pagination:
  data: collections.posts
  size: 1
  alias: posts
name: About
layout: base
---


{% set title = "OAKwave Marketing Strategy" %}
{% block stylesandscripts %}


<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/assets/css/base.css">

 
{% endblock stylesandscripts %}

{% block footerscripts %}
    <script src="./_includes/components/base/core.min.js"></script>
    <script src="./_includes/components/base/script.js"></script>{% endblock footerscripts %}
 {% block content %}

		<!-- Your header goes here -->


		<section class="section-about">
            <div class="shell">

			<div class="section__decoration section__decoration--1">
				<img src="/assets/images/temp/ball-1@2x.png" alt="" width="173" height="218">
			</div><!-- /.section__decoration -->

			<div class="section__decoration section__decoration--2">
				<img src="/assets/images/temp/ball-2@2x.png" alt="" width="145" height="122">
			</div><!-- /.section__decoration -->

			<div class="section__decoration section__decoration--3">
				<img src="/assets/images/temp/ball-3@2x.png" alt="" width="325" height="304">
			</div><!-- /.section__decoration -->

			<div class="section__decoration section__decoration--4">
				<img src="/assets/images/temp/ball-4@2x.png" alt="" width="218" height="218">
			</div><!-- /.section__decoration -->

			<div class="section__decoration section__decoration--5">
				<img src="/assets/images/temp/ball-5@2x.png" alt="" width="84" height="84">
			</div><!-- /.section__decoration -->

			<div class="section__decoration section__decoration--6">
				<img src="/assets/images/temp/ball-6@2x.png" alt="" width="207" height="207">
			</div><!-- /.section__decoration -->

			<div class="section__decoration section__decoration--7">
				<img src="/assets/images/temp/ball-7@2x.png" alt="" width="258" height="215">
			</div><!-- /.section__decoration -->

			<div class="section__decoration section__decoration--8">
				<img src="/assets/images/temp/ball-8@2x.png" alt="" width="116" height="116">
			</div><!-- /.section__decoration -->

			<div class="section__decoration section__decoration--9">
				<img src="/assets/images/temp/ball-9@2x.png" alt="" width="206" height="207">
			</div><!-- /.section__decoration -->

			<div class="section__decoration section__decoration--10">
				<img src="/assets/images/temp/ball-10@2x.png" alt="" width="145" height="122">
			</div><!-- /.section__decoration -->

			<div class="section__decoration section__decoration--11">
				<img src="/assets/images/temp/ball-11@2x.png" alt="" width="325" height="304">
			</div><!-- /.section__decoration -->

			<div class="section__decoration section__decoration--12">
				<img src="/assets/images/temp/ball-12@2x.png" alt="" width="377" height="420">
			</div><!-- /.section__decoration -->

			<div class="section__decoration section__decoration--13">
				<img src="/assets/images/temp/ball-13@2x.png" alt="" width="124" height="124">
			</div><!-- /.section__decoration -->

								</div><!-- /.section__aside -->

					<div class="section__content">
						<div class="section__head js-animation-container">
							<h4 class="animation-spread js-split-new-line js-animation-spread js-init-animation">You deserve the truth about your business and marketing.</h4>
<br />
							<h2 class="animation-spread js-split-new-line js-animation-spread js-init-animation">We have the balls to tell you.</h2>
						</div><!-- /.section__head -->

						<div class="section__body">
							<div class="item">
								<div class="item__image">
									<img src="/assets/images/temp/image-6@2x.png" alt="" width="670" height="420">
								</div><!-- /.item__image -->

								<div class="item__content">
									<h2 class="item__title">About us</h2><!-- /.item__title -->
	<p> Our little spaghetti-filled friend here illustrates the problem we solve.  We clean up marketing spaghetti.  When we were young, our grandmothers would throw pasta at the back of the stove to see what stuck.  That determined whether the pasta was finished cooking or not. The vast majority of busiensses we encounter are busy throwing marketing tactics at the wall to see what actually works.  This is so much more costly and ineffective than just going with the proper tactics from the gate..  </p>
									<!--<p>We call ourselves strategy symphony conductors, marketing de-spaghettification experts, and problem-solving superheroes. We are ushering in a new wave of agency relationships while relying upon the oak solid foundations that made marketing amazing in the first place.</p>-->
								</div><!-- /.item__content -->
							</div><!-- /.item -->

							<div class="accordion">
								<h2 class="accordion__title">Our Services</h2><!-- /.accordion__title -->

								<div class="accordion__section is-active">
									<div class="accordion__head">
										<h4>Marketing & Growth Strategy</h4>

										<p>Do you know how parents always say, "I wish there was a manual on raising kids?"</p>
									</div><!-- /.accordion__head -->

									<div class="accordion__body">
										<div class="accordion__image">
											<img src="/assets/img/renderings/strategy.png" alt="" width="343" height="352">
										</div><!-- /.accordion__image -->

										<div class="accordion__content">
																					<h4>Marketing & Growth Strategy</h4>

										<h6>Do you know how parents always say, "I wish there was a manual on raising kids?"</h6>

											<p>That's kind of what our strategies are, except for business growth. Go ahead, try to find a better marketing, sales, or growth strategy, it's right next to the Fountain of Youth and anything marketed as "free" that's actually free.</p>
										
									
										</div><!-- /.accordion__content -->
									</div><!-- /.accordion__body -->
								</div><!-- /.accordion__section -->

								<div class="accordion__section">
									<div class="accordion__head">
										<h4>											BRAND STRATEGY, POSITIONING, AND VOICE
</h4>

<p>Your brand is your foundation and a weak foundation makes for a shaky house.
</p>									</div><!-- /.accordion__head -->

									<div class="accordion__body">
										<div class="accordion__image">
											<img src="/assets/img/renderings/loudspeaker.png" alt="" width="343" height="352">
										</div><!-- /.accordion__image -->

										<div class="accordion__content">
							<h4>											BRAND STRATEGY, POSITIONING, AND VOICE
</h4>

<h6>Your brand is your foundation and a weak foundation makes for a shaky house.
</h6>	
<p>
Unifying your organization behind a single voice, position, slogan, and value proposition is critical to your success. We make this process painless and actually fun.
					</p>					</div><!-- /.accordion__content -->
									</div><!-- /.accordion__body -->
								</div><!-- /.accordion__section -->

								<div class="accordion__section">
									<div class="accordion__head">
										<h4>		CONTENT BIRTH, REBIRTH, & EVOLUTION</h4>
<p>This is not your intern's SEO-packed, boring Wikipedia entry!</p>
									</div><!-- /.accordion__head -->

									<div class="accordion__body">
										<div class="accordion__image">
											<img src="/assets/img/renderings/content.png" alt="" width="343" height="352">
										</div><!-- /.accordion__image -->

										<div class="accordion__content">
									<h4>		CONTENT BIRTH, REBIRTH, & EVOLUTION</h4>
<h6>This is not your intern's SEO-packed, boring Wikipedia entry!</h6>

<p>
Your content needs to grab the attention of your target market and hold it. This takes a special blend of sales, marketing, and wordsmithing. We believe a hundred amazing words will change the world for your business, not a hundred mediocre articles.</p>
										</div><!-- /.accordion__content -->
									</div><!-- /.accordion__body -->
								</div><!-- /.accordion__section -->

								<div class="accordion__section">
									<div class="accordion__head">
											<h4>WEBSITE & MARTECH</h4>
<p>The base of your marketing efforts and the epicenter of your marketing effectiveness gauge.</p>
									</div><!-- /.accordion__head -->

									<div class="accordion__body">
										<div class="accordion__image">
											<img src="/assets/img/renderings/flask.png" alt="" width="343">
										</div><!-- /.accordion__image -->

										<div class="accordion__content">
											<h4>WEBSITE & MARTECH</h4>
<h6>The base of your marketing efforts and the epicenter of your marketing effectiveness gauge.</h6>
<p>

Acting as the tracking epicenter of your marketing efforts, your website's form and function will make or break marketing. We assess, rethink, and offer tactical steps to lift impact of the homebase of your efforts.</p>
										</div><!-- /.accordion__content -->
									</div><!-- /.accordion__body -->
								</div><!-- /.accordion__section -->

								<div class="accordion__section">
									<div class="accordion__head">
										<h4>OTHER SERVICES
</h4>

	<p>	If we can't do it, we got a guy.
</p>
									</div><!-- /.accordion__head -->

									<div class="accordion__body">
										<div class="accordion__image">
											<img src="/assets/img/renderings/help.png" alt="" height="352">
										</div><!-- /.accordion__image -->

										<div class="accordion__content">
										<h4>	If we can't do it, we got a guy.
</h4><p>

For the majority of our clients, we deliver a comprehensive, holistic marketing strategy (read: blueprints for three years of brand, marketing, and sales).

We follow that up with on-demand CMO-as-a-service consultation services delivered on a regular basis. For others, we offer turnkey execution and 100% project management services.</p>
										</div><!-- /.accordion__content -->
									</div><!-- /.accordion__body -->
								</div><!-- /.accordion__section -->

							<!--	<div class="accordion__section">
									<div class="accordion__head">
										<h4>Marketing & Growth Strategy</h4>

										<p>Do you know how parents always say, "I wish there was a manual on parenting?"</p>
									</div>--><!-- /.accordion__head -->

								<!--	<div class="accordion__body">
										<div class="accordion__image">
											<img src="/assets/images/temp/image-7@2x.png" alt="" width="343" height="352">
										</div>--><!-- /.accordion__image -->

									<!--	<div class="accordion__content">
											<h6>Your brand is your foundation and a weak foundation makes for a shaky house.</h6>

											<p>Unifying your organization behind a single voice, position, slogan, and value proposition is critical to your success. We make this process painless and actually fun.</p>
										</div>--><!-- /.accordion__content -->
									</div><!-- /.accordion__body -->
								</div><!-- /.accordion__section -->
							</div><!-- /.accordion -->
						</div><!-- /.section_body -->

								
<div class="gimmesomeroom"></div>
<div class="shellery">
{% include "./_includes/_partials/content/about-us/faq.njk" %}
						                {% include "./_includes/_partials/brand/client-logos.hbs" %}
						                {% include "./_includes/_partials/brand/new-testimonials.hbs" %}
						                {% include "./_includes/_partials/brand/testimonials.hbs" %}

						                {% include "./_includes/_partials/content/about-us/whatwearegoodat.hbs" %}
						                {% include "./_includes/_partials/content/about-us/basics.hbs" %}
{% include "./_includes/_partials/content/about-us/tabs.njk" %}
{% include "./_includes/_partials/content/about-us/partners.njk" %}



      {% include "./_includes/_partials/content/post-slider.hbs" %}      
      {% include "./_includes/_partials/content/features.hbs" %}
	  {% include "./_includes/_partials/content/pricing.hbs" %}
	{% include "./_includes/_partials/content/aboutus.hbs" %}
          {% include "./_includes/_partials/content/about-us/process.hbs" %}

     {% include "./_includes/_partials/content/form.hbs" %}
	      {% include "./_includes/_partials/content/news-modern.hbs" %}
	      {% include "./_includes/_partials/content/whatpeoplesay.hbs" %}
   
</div>

					</div><!-- /.section__content -->

				</div><!-- /.section__outer -->

			</div><!-- /.shell -->

		</section><!-- /.section-about -->
   
{% endblock content %}
